.dashboard-heat-map-container {
  display: flex;
  justify-content: center;
  align-items: center;

  .account-names {
    font-size: 1.2em;
    font-weight: 900;
    text-transform: uppercase;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 10px;

    .username {
      margin-bottom: 13px;
    }
  }

  .account-heat-map-wrapper {
    background-color: $dark-theme;
    border-radius: 5px;
    padding-left: 20px;
    padding-bottom: 20px;
  }
}
