.dashboard-heat-map-container {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-gap: 21px;

  .account-names {
    font-size: 1.2em;
    font-weight: 900;
    text-transform: uppercase;
    margin-top: 32px;
    text-align: right;

    .username {
      margin-bottom: 13px;
    }
  }

  .account-heat-map-wrapper {
    background-color: $dark-theme;
    border-radius: 5px;
    padding-left: 20px;
    padding-bottom: 20px;
  }
}
