.white-rounded-button {
  @include base-btn();
  color: white;
  border: white solid 1px;

  &:hover {
    background-color: white;
    color: $primary;
  }
}

.primary-rounded-button {
  @include base-btn();

  svg {
    margin-left: 10px;
  }
}

.button-small {
  width: 93%;
}

.login-btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-button {
  background-color: transparent;
  color: $primary;
  border: 0px solid transparent;
  font-size: 1.3em;
  margin-right: 10px;
  cursor: pointer;
  transition: 0.5s ease-in-out;

  &:hover {
    color: $dark-primary;
  }
}

.cancel-link {
  svg {
    color: $warning;
    font-size: 1.3em;
    cursor: pointer;
    transition: 0.5s ease-in-out;

    &:hover {
      color: $dark-warning;
    }
  }
}
