.tooltip-wrapper {
  .tooltip-avatar {
    width: 150px;
  }

  .tooltip-data-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;

    svg {
      font-size: 2.5em;
      margin-bottom: 20px;
    }

    .tooltip-data-element-lg {
      font-size: 2.5em;
      margin-bottom: 15px;
      font-weight: 900;
    }

    .tooltip-data-element-sm {
      color: $dark-theme;
      text-transform: uppercase;
      font-weight: 900;
    }
  }

  .tooltip-username {
    text-align: center;
    color: $primary;
    font-weight: 900;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
